html, body {
  height: 100%;
}

.client-base {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.header {
}

.client-container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.side-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 300px;
  flex-shrink: 0;
  background-color: #9d899b;
  padding: 15px;
}

.client-main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.message-list-container {
  overflow: scroll;
  flex: 1;
  padding: 15px;
}

.message-list-pad {
  height: 100vh;
}

.message {
  border-top: solid 1px #aaa;
  .message-name {
    font-weight: bold;
  }
  .message-body-text {
    white-space: pre;
  }
}

.operation-box {
  border-top: solid 1px #aaa;
  padding: 15px;
}

.operation-type {
  width: 180px;
}