html, body {
  height: 100%;
  font-size: large; // for demo
}

.client-base {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.header {
}

.client-container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.side-bar {
  background-color: #000;
  color: #0f0;
  overflow: scroll;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 440px;
  flex-shrink: 0;
  padding: 15px;
  .system-metrics {
    font-size: 18pt;  // for demo
    // font-size: large;
  }
  .metrics-group {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 2px 10px;
    margin: 8px;
    .metrics-group-label {
      text-align: center;
      margin-bottom: 4px;
    }
  }
  .chart-container {
    $height: 40px;
    height: $height;
    position: relative;
    canvas {
      height: $height !important;
    }
  }
}

.client-main {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.message-list-container {
  overflow: scroll;
  flex: 1;
  padding: 15px;
  .message-list-pad {
    height: 100vh;
  }
}

.message {
  border-top: solid 2px #aaa;
  padding: 8px;
  .message-header {
    .message-name {
      font-weight: bold;
      &.message-name-system {
        color: red;
      }
    }
    .message-type {
      margin-left: 10px;
      color: #5a5;      
    }
  }
  .message-body {
    white-space: pre;
  }
  .message-body-xml {
    border: solid 2px #ccc;
    padding: 2px;
    border-radius: 5px;    
  }
}

.operation-box {
  border-top: solid 2px #aaa;
  padding: 15px;
  .operation-type {
    width: 180px;
  }
}

