<div class="notification-bar">bar</div>
<div class="client-container">
  <div class="side-bar">
    <div class="system-metrics"></div>
  </div>
  <div class="client-main">
    <div class="message-list-container">
      <div class="message-list-pad"></div>
      <div class="message-list"></div>
    </div>
    <div class="operation-box">
        <form class="message-form">
          <div class="form-group" class="operation-type">
            <select class="form-control operation-type">
              <option value="text">プレーンテキスト</option>
              <option value="xml">XML</option>
            </select>
          </div>
          <div class="form-group">
            <textarea type="text" class="operation-textarea form-control" placeholder="Message here!"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
